# AD/BOPA - Andorra Official Gazette
# Get the API function codes from https://bopa.ad (inspect the JavaScript)
# and set them as environment variables:

BOPA_CODE_DOCS=your_code_here
BOPA_CODE_FILTERS=your_code_here
BOPA_CODE_FILTERS_LAWS=your_code_here
